$verde: rgb(71, 184, 86); 

/*-------HEADER-------*/
.header__titulo--font {
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--background {
    background-image: url(../imagenes/headerTop.png);
    max-width: 100%;
    height: auto;
    color: #fd7e14;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 0px 25px 0px;
}

.header--logo {
    margin-left: 100px;
}

/*-------FOOTER-------*/
footer {
    color: white;
    text-decoration: none;
    background-image: url(../imagenes/footer/bgdpgreen.png);

    p {
        color: rgb(5, 5, 5);
        font-weight: bold;
        font-size: 1.2rem;
    }

    div {
        text-align: center;
    }
}

.footer__lista {
    text-align: left;

    #actualpag {
        font-weight: bold;
    }
}

.footer__redes {
    width: 50%;
    margin-bottom: 20px;
}

#footer__contacto {
    color: white;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
}

#footer--margin {
    margin-top: 25px;
    padding: 20px;
}

/*-------GENERAL-------*/   
.menu__button--background {
    background-color: $verde;
}

.menu__button--responsive {
    display: none;
}

ul {
    list-style: none;
        
        li {
            transition: all;
        }

        :hover {
            font-weight: bold;
        
            ul {
                display:block;
            }
        }

        ul {
            position: absolute;
            display: none;
        
            li {
                display: block;
            
                a {
                    width: max-content;
                }
            }
        }
} 

.buscador__button--margin {
    margin-top: 15px;
}

.buscador--padding {
    padding: 10px;
}

/*-------INDEX-------*/
.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px;
    margin: 3px; 

    h5 {
        font-weight: 700;
    }
}
.frame img {
	width: 270px;
	height: 400px;
}
.frame .details {
	width: 80%;
	height: 70%;	
	padding: 10%;
	position: absolute;
	content: "";
	top: 50%;
	left: 67%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(71, 184, 86, 0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

/*-------PLANTALIBROS-------*/
#plantaLibros__buscador {
    height: 160px;
    background-image: url(../imagenes/fondoBuscador.jpg);
    background-position: center;
    background-size: 100%;
    font-size: 1.1rem;
    font-family: 'Encode Sans SC', sans-serif;
    color: white;
}

select { 
    margin: auto;
    width: auto;
    transition: all .5s;   
        &:hover {
            width: auto;
            height: auto;
            font-size: 1.3rem;
        }    
}

.plantaLibros__cards--margin {
    padding: 10px;
    margin: 15px;
}

.buscador__button--combinar {
    margin-top: 15px;
}

.plantaLibros_titulos {
    margin-bottom: 10px;
    text-shadow: 1px 1px rgb(83, 110, 95);
}

/*-------PLANTAS-------*/
.plantas__carousel--background {
    background-color: rgb(150, 187, 150)
}

.plantas__carousel--aling {
    div {
        img {
            margin: auto;
        }
    }
    
}

.plantas__carousel--textcolor {
    .carousel-caption {
        color: black;
    }
}

.plantas__carousel--textbackground {
    .carousel-caption {
        background-color: rgba(150, 187, 150, 0.7);
    }
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(24, 23, 23);
    opacity: 1;
}

/*-------LIBROS-------*/

#libros__buscador {
    height: 200px;
    background-image: url(../imagenes/fondoBuscador.jpg);
    background-position: center;
    background-size: 100%;
    font-size: 1.1rem;
    font-family: 'Encode Sans SC', sans-serif;
    color: white;
}

input { 
    margin: auto;
    width: fit-content;
    transition: all .5s;   
        &:hover {
            width: auto;
            height: auto;
            font-size: 1.1rem;
        }    
}

.libros__cards--margin {
    margin: 15px;
}

/*-------CONTACTO-------*/
.contacto {
    background-image: url(../imagenes/contacto/contacto.jpg);
}

.contacto__formulario {
    input, select, textarea {
        width: fit-content;
    }

    textarea {
        margin: 0px 0px 20px 85px;
        width: 300px;
        height: 100px;
    }
}

/*-------MEDIA QUERIES-------*/

@media only screen and (max-width: 768px) {  
    .header__titulo--font {
        font-size: 3rem;
    }

    .header--background {
        margin: 0px 0px 10px 0px;
        background-size: 93%;
    }

    .header--logo {
        margin-left: 40px;
        height: 80%;
        width: 60%;
    }

    .plantaLibros__boton--margin {
        margin-top: 8px;
    }

    #plantaLibros__buscador {
            height: 150px;
            font-size: .7rem;   
    }
    

    select {
        :hover {
            font-size: .8rem;
        }
    }

    .frame {
        text-align: center;	
        position: relative;
        cursor: pointer;	
        margin: 3px; 

        h5 {
            font-weight: 700;
        }
    }

    .frame img {
        width: 162px;
        height: 240px;
    }

    .frame .details {
        width: 90%;
        height: 90%;	
        padding: 5%;
        position: absolute;
        content: "";
        top: 5%;
        left: 25%;
        transform: translate(0%) rotateY(0deg);
        transform-origin: 50%;
        background: rgba(71, 184, 86, 0.9);	
        opacity: 1;	
    }

    .details {
        p {
            font-size: .9rem;
        }
    }

    .plantaLibros_titulos {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 361px) {   
    .header__titulo--font {
        font-size: 2rem;
    }

    .header--background {
        margin: 0px 0px 10px 0px;
        background-image: url(../imagenes/headerTop2.png);
    }

    .header--logo {
        margin-left: 65px;
        height: 70%;
        width: 45%;
    }

    .menu__button--responsive {
        display: inline;
    }

    #libros__buscador {
        height: 250px;
        font-size: 1rem;
    }

    .plantaLibros_titulos {
        margin-bottom: 3px;
            h6 {
                display: none;
            }
    }

    #plantaLibros__buscador {
        height: 200px;
    }
    
    .libros__cards--imgSize {
        width: 35%;
    }

    .libros__cards {
        img {
            &:hover {
                width: 60%;
            }
        }
    }
    .libros__cards--margin {
        margin: 3px;
        width: fit-content;
    }

    .frame {
        text-align: center;	
        position: relative;
        cursor: pointer;	
        margin: 3px; 

        h5 {
            font-weight: 700;
        }
    }

    .frame img {
        width: 270px;
        height: 400px;
    }

    .frame .details {
        width: 80%;
        height: 70%;	
        padding: 10%;
        position: absolute;
        content: "";
        top: 10%;
        left: 11%;
        transform: translate(0%) rotateY(0deg);
        transform-origin: 50%;
        background: rgba(71, 184, 86, 0.9);	
        opacity: 1;	
    }

    .details {
        p {
            font-size: 1.2rem;
        }
    }

    .contacto__formulario {
        textarea {
            margin: 0px 0px 20px 50px;
            width: 200px;
            height: 100px;
        }
    }

    footer {
        background-image: url(../imagenes/footer/bgdpgreen-responsive.png);
    }
}