* {
    margin: 0;
    padding: 0;
}

html { 
    font-size: 62.5%;
}

/*-----------HEADER-----------*/

#gridHeader {
    grid-area: header;
    height: auto;
    background-image: url(./imagenes/headerTop.jpg);
    background-repeat: no-repeat;
}

.logo {
    height: auto;
    max-width: 35%;
}

.imagenFondo {
    background-image: url(./imagenes/headerTop.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}

.cabecera {
    color: #fff;
    height: 15px;
    width: 100%;
    vertical-align: middle;
}

.tituloWeb {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: rgb(216, 109, 10);
    text-align: center;
    letter-spacing: 15px;
    font-weight: 500;
}

/*-----------FOOTER-----------*/
#gridFooter {
    grid-area: footer;
    border: 0px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px; /*
    background-image: linear-gradient(white, rgb(102, 173, 102));*/
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

footer a {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(243, 239, 239);    
}

/*-----------GENERAL-----------*/

.ubicacionEnElSitio {
    color: rgb(6, 100, 6);
    font-size: 2.5rem;
    font-weight: bold;    
}

tr th {
    color: rgb(119, 9, 9);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr td {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listaSubpaginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2rem;
}

.listaSubpaginasIndex {
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style-type: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2rem;
}

.elementoMenu { 
    display: flex;
    flex-direction: column;
    color: rgb(6, 104, 35);
    margin: 5px;
    border: black;
    border-style: solid;
    text-decoration: none;
    padding: 5px;
}

.listas {
    list-style-type: none;
    color: rgb(3, 3, 3);
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Encode Sans SC', sans-serif;
    padding: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: green;
}


ul {
    list-style: none;
    font-size: 2rem;
}

ul li {
    transition: all;
}

ul li:hover {
    font-weight: bold;
    color: green;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
    font-size: 2rem;
}

ul li:hover ul {
    display:block;
}

ul ul li a {
    width: max-content;
    background-color: white;
}

.ulUlIndex {
    position: relative;
    display: none;
}

/*-----------INICIO-----------*/
/*.gridIndex {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu carousel"
        "footer footer";
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 180px 350px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#gridMenu {
    grid-area: menu;
    justify-self: start;
}

#gridTexto {
    grid-area: carousel;
    margin: 30px 180px 30px 150px;;
}

.parrafosHome {
    font-size: 2rem;
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(190, 190, 196);
    font-weight: 500;
    text-align: justify;
    background-image: url(./imagenes/hojaVerde.jpg);
    background-size: auto;
    width:  900px;
    padding: 25px;
    align-items: center;
}*/

/*-----------LIBROS-----------*/
.librosGrid {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu buscador"
        "menu resultados"
        "footer footer";
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 250px 60px 550px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#resultadosBusqueda {
    grid-area: resultados;
}

.buscadorLibros {
    height: 50px;
    width: 1200px;
    margin: 0px 30px 0px 0px;
    color: black;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

table { 
    width: 900px;
    height: 300px;
    text-align: center;
    font-size: 3rem;
    border: 5px solid green;  
    padding: 15px;
    margin: 50px;
    border-collapse: collapse;
}

table tr th {
    height: 30%;
    width: 25%;
    border: 3px solid rgb(119, 9, 9);
}

table tr td {
    border: 2px solid black;
}

/*-----------PLANTAS-----------
.gridPlantas {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu plantas"
        "menu plantas"
        "footer footer";
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 250px 60px 500px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#plantas {
    grid-area: plantas;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#plantas div {
    border: solid black 2px;
    margin: 15px;
    height: 245px;
    text-align: center;
    font-size: 2rem;
}*/

/*-----------PLANTALIBROS-----------*/
.plantaLibros {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu buscador"
        "menu combos"
        "footer footer";
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 250px 75px 650px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#buscador {
    grid-area: buscador;
    display: flex;
    flex-direction: row;
    height: 75px;
    background-image: url(./imagenes/fondoBuscador.jpg);
    background-position: center;
    background-size: 100%;
}

#combosPlantaLibros {
    grid-area: combos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

#combosPlantaLibros div {
    border: solid black 2px;
    margin: 3px;
    height: 245px;
    text-align: center;
    font-size: 2rem;
}

/*-----------NOVEDADES-----------*/
.gridNovedades {
        display: grid;
        grid-template-areas: 
            "header header"
            "menu novedades"
            "menu novedades"
            "footer footer";
        grid-template-columns: 0.3fr 2fr;
        grid-template-rows: 250px 400px 410px 250px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
}

.novedades {
    grid-area: novedades;
    margin: 5px;
    display: grid;
    grid-template-areas: 
        "plantas libros combo"
        "video video combo";
    grid-template-columns: 3fr 3fr 2fr ;
    grid-template-rows: repeat(2, 400px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

#plantas {
    grid-area: plantas;
}

#combo {
    grid-area: combo;
}

#combo img {
    height: 100%;
    width: 90%;
}

#libros {
    grid-area: libros;
}

#videoNovedad {
    grid-area: video;
}

.novedades div {
    border: solid 2px grey;
    padding: 15px;
}

.novedades div img {
    width: 100%;
    height: 100%; 
    margin: 10px;
    display: block;
}

/*-----------CONTACTO-----------*/
.gridContacto {
    display: grid;
        grid-template-areas: 
            "header header"
            "menu contacto"
            "footer footer";
        grid-template-columns: 0.3fr 2fr;
        grid-template-rows: 250px 550px 250px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
}

.formularioDeContacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 0px 0px 100px;
    height: 100%;
    width: 300px;
    border: solid 2px grey;
    font-size: 2rem;
    color: royalblue;
    font-family: 'Encode Sans Sc', sans-serif;
}

label {
    width: fit-content;
    margin: 10px 0px 0px 20px;
    font-size: 1.8rem;
    color: black;
}

input {
    margin: 0px 0px 10px 25px;
    width: 150px;
    transition: all 2s;
}

input:focus {
    width: 180px;
    height: 25px;
    font-size: 2rem;
}

textarea {
    height: 50px;
    width: 180px;
    margin: 0px 0px 10px 25px;
    transition: all 2s;
}

textarea:focus {
    width: 250px;
    height: 70px;
    font-size: 2rem;
}


/*----------RESPONSIVE-------------*//*
@media only screen and (min-width: 320px) {   
    .index {
        display: grid;
        grid-template-areas: 
            "header header"
            "menuIndex frase"
            "footer footer";
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: max-content;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }

    .imagenFondo {
    background-image: url(./imagenes/headerTop.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
    }

    .tituloWeb {
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(216, 109, 10);
        text-align: center;
        letter-spacing: 3px;
        font-weight: 100;
    }

    .listaSubpaginasIndex {
        display: flex;
        flex-direction: column;
        justify-content: left;
        list-style-type: none;
        font-family: 'Encode Sans SC', sans-serif;
        font-size: 1rem;
    }

    .ubicacionEnElSitio {
        color: rgb(6, 100, 6);
        font-size: 1.2rem;
        font-weight: bold;    
    }

    .elementoMenu { 
        display: flex;
        flex-direction: column;
        color: rgb(6, 104, 35);
        margin: 1.5px;
        border: black 1px;
        border-style: solid;
        text-decoration: none;
        padding: 2px;
    }

    .parrafosHome {
        font-size: 1rem;
        font-family: 'Encode Sans SC', sans-serif;
        color: rgb(190, 190, 196);
        font-weight: 100;
        text-align: justify;
        background-image: url(./imagenes/hojaVerde.jpg);
        background-size: auto;
        width:  200px;
        padding: 5px;
        margin: 15px 20px 5px 20px;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 20px;
        border: 0.5px solid black;
        background-color: rgb(26, 78, 61);
        font-size: 1rem;
        font-weight: bold;
    }

    footer a {
        font-size: 1rem;
        font-weight: bold;
        color: black;    
    }
}

@media only screen and (min-width: 768px) {
    .index {
        display: grid;
        grid-template-areas: 
            "header header"
            "menuIndex frase"
            "footer footer";
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: max-content;
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }

    .imagenFondo {
    background-image: url(./imagenes/headerTop.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    }

    .tituloWeb {
        font-size: 2.5rem;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(216, 109, 10);
        text-align: center;
        letter-spacing: 6px;
        font-weight: 300;
    }

    .listaSubpaginasIndex {
        display: flex;
        flex-direction: column;
        justify-content: left;
        list-style-type: none;
        font-family: 'Encode Sans SC', sans-serif;
        font-size: 2rem;
    }

    .ubicacionEnElSitio {
        color: rgb(6, 100, 6);
        font-size: 2rem;
        font-weight: bold;    
    }

    .elementoMenu { 
        display: flex;
        flex-direction: row;
        color: rgb(6, 104, 35);
        margin: 4px;
        border: black 1px;
        border-style: solid;
        text-decoration: none;
        padding: 5px;
    }

    .parrafosHome {
        font-size: 1.5rem;
        font-family: 'Encode Sans SC', sans-serif;
        color: rgb(190, 190, 196);
        font-weight: 300;
        text-align: justify;
        background-image: url(./imagenes/hojaVerde.jpg);
        background-size: auto;
        width:  500px;
        padding: 5px;
        margin: 80px 50px 20px 20px;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
        border: 2px solid black;
        background-color: rgb(26, 78, 61);
        font-size: 1.5rem;
        font-weight: bold;
    }

    footer a {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;    
    } 
}

@media only screen and (min-width: 1024px) { 
    .index {
        display: grid;
        grid-template-areas: 
            "header header"
            "menuIndex frase"
            "footer footer";
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: max-content;
        grid-column-gap: 3px;
        grid-row-gap: 8px;
    }

    .imagenFondo {
        background-image: url(./imagenes/headerTop.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .tituloWeb {
        font-family: 'Courier New', Courier, monospace;
        font-size: 5rem;
        color: rgb(216, 109, 10);
        text-align: center;
        letter-spacing: 15px;
        font-weight: 500;
    }

    .listaSubpaginasIndex {
        display: flex;
        flex-direction: column;
        justify-content: left;
        list-style-type: none;
        font-family: 'Encode Sans SC', sans-serif;
        font-size: 2.5rem;
    }

    .ubicacionEnElSitio {
        color: rgb(6, 100, 6);
        font-size: 3rem;
        font-weight: bold;    
    }

    .elementoMenu { 
        display: flex;
        flex-direction: row;
        color: rgb(6, 104, 35);
        margin: 7px;
        border: black 1px;
        border-style: solid;
        text-decoration: none;
        padding: 7px;
    }

    .parrafosHome {
        font-size: 3rem;
        font-family: 'Encode Sans SC', sans-serif;
        color: rgb(190, 190, 196);
        font-weight: 300;
        text-align: justify;
        background-image: url(./imagenes/hojaVerde.jpg);
        background-size: auto;
        width:  800px;
        padding: 20px;
        margin: 80px 80px 20px 10px;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
        border: 2px solid black;
        background-color: rgb(26, 78, 61);
        font-size: 2rem;
        font-weight: bold;
    }

    footer a {
        font-size: 2rem;
        font-weight: bold;
        color: black;    
    }
}*/